@font-face {
  font-family: 'rls-';
  src:  url('fonts/rls-.eot?yuewby');
  src:  url('fonts/rls-.eot?yuewby#iefix') format('embedded-opentype'),
    url('fonts/rls-.ttf?yuewby') format('truetype'),
    url('fonts/rls-.woff?yuewby') format('woff'),
    url('fonts/rls-.svg?yuewby#rls-') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="rls-icon-"], [class*=" rls-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rls-' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rls-icon-close:before {
  content: "\e900";
}
.rls-icon-download:before {
  content: "\e901";
}
.rls-icon-edit:before {
  content: "\e902";
}
.rls-icon-expand:before {
  content: "\e903";
}
.rls-icon-filter:before {
  content: "\e904";
}
.rls-icon-horiz-expand:before {
  content: "\e905";
}
.rls-icon-indent:before {
  content: "\e906";
}
.rls-icon-mark:before {
  content: "\e907";
}
.rls-icon-mathematics:before {
  content: "\e908";
}
.rls-icon-more:before {
  content: "\e909";
}
.rls-icon-plus:before {
  content: "\e90a";
}
.rls-icon-plus-unborder:before {
  content: "\e90b";
}
.rls-icon-search:before {
  content: "\e90c";
}
.rls-icon-stack:before {
  content: "\e90d";
}
.rls-icon-tree:before {
  content: "\e90e";
}
.rls-icon-upload:before {
  content: "\e90f";
}
