// Colors

$base-color: #0e3570;
$light-blue: #d9e9ff;
$blue-text: #017aff;
$white: #fff;
$grey: #5b5b5b;
$btn-border: #5d9dff;
$light-grey: #757575;

$label-one: #007ffe;
$label-two: #f58323;
$label-three: #6dc24b;
$label-four: #f5a623;
$label-five: #b8e986;

$table-header: #eaf2ff;
$color-flex: #f5a623;
$color-type: #b8e986;
$black: #000000;

// Heading

$heading-size: 24px;
